.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 1rem;
    padding-top: 5vh;
}
.aboutPic-container {
    height: 35vw;
    width: 35vw;
}
.about-pic {
    height: 100%;
    width: 100%;
}